/* ============= task 1 ================ */
html {
    scroll-behavior: smooth;
}

/* ============= task 2 ================ */
body {
    color: #161616;
}

a {
    color: #161616;
}

.visually-hidden {
    display: none;
}

.card-category {
    color: #D73953;
}

.section-tagline {
    color: #D73953;
}
